.lessonFieldContainer {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lessonChildren {
  padding: 10px;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.lessonTitle {
  display: flex;
  border: 1px solid black;
  border-bottom: none;
  padding: 1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.wordSearchContainer {
  margin: 10px 0;
}

.wordSearchContainer .topPart {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}

.globeWorld {
  font-size: 24px;
}
.notOfficialWord {
  opacity: 0.5;
  cursor: pointer;
}
.notOfficialWordAlreadyCreated {
  color: black;
}
.notOfficialWordAlreadyCreated svg,
.unChangedOfficialWord svg,
.changedOfficialWord svg {
  cursor: default;
}
.unChangedOfficialWord {
  color: #14c710;
}
.changedOfficialWord {
  color: #0a94ff;
}
.willBecomeOfficialWord {
  color: #efff0a;
  cursor: pointer;
}

.clickableIcon {
  cursor: pointer;
  height: 31.6px;
  align-self: center;
}

.suggestionsContainer {
  margin-top: 5px;
}
.wordSuggestion {
  cursor: pointer;
  padding: 5px;
  margin-bottom: 1px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  display: flex;
  width: 100%;
  text-align: left;
  background: unset;
  align-items: center;
  color: white;
}
.suggestedWords .wordSuggestion:last-of-type {
  border-bottom: none;
}
.wordSuggestion:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.wordSuggestion span {
}

.wordSuggestion span:nth-of-type(1) {
  flex: 2;
  padding: 0 5px;
}
.wordSuggestion span:nth-of-type(2) {
  flex: 5;
  padding: 0 5px;
}
.wordSuggestion span:nth-of-type(3) {
  flex: 1;
  text-align: right;
}
