.courseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.courseCard {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  font-weight: normal;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 0 12px,
    rgb(255, 255, 255) 0 10px 0 -5px,
    rgba(0, 0, 0, 0.4) 0 10px 12px,
    rgb(255, 255, 255) 0 18px 0 -9px;
  transition: all 0.1s;
  padding: 5px;
}
.courseCard:hover {
  color: black;
  transform: scale(1.05);
}

.lesson {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.buttonsContainer {
  margin: 20px 0;
  gap: 20px;
  display: flex;
}

.buttonsContainer button {
  padding: 10px 20px;
  border-radius: 33px;
  cursor: pointer;
  font-size: 20px;
  box-shadow: #0000007d 0 0 7px 5px;
  border: 2px solid #0a94ff;
  color: black;
  background: white;
  transition: all 0.3s;
}
.buttonsContainer button:hover {
  transform: scale(1.05);
  color: white;
  background: #0a94ff;
}

.viewCard {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  min-width: 400px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .viewCard {
    min-width: unset;
  }
}

.contentTagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.contentTag {
  padding: 5px 10px;
  border-radius: 5px;
}

.voiceButton {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin: 0 5px;
  flex-shrink: 0;
}
.contentTag,
.voiceButton {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.contentTag-primary {
  background: rgb(23, 152, 182);
  box-shadow: 0 0 0 1px rgb(23, 152, 182);
}
.contentTag-secondary {
  box-shadow:
    0 0 0 1px rgb(23, 152, 182),
    inset 0 0 0 1px rgb(23, 152, 182);
}

.voiceButton:first-of-type {
  margin-left: 0;
}
.voiceButton:last-of-type {
  margin-right: 0;
}
.miniVoiceButton {
  background: none;
  width: 24px;
  height: 24px;
  font-size: 16px;
}

.withNextButton {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}

@media screen and (max-width: 600px) {
  .withNextButton {
    flex-direction: column;
  }
}

.nextButton,
.bigDictionaryButton {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.nextButton:hover,
.bigDictionaryButton:hover {
  background-color: rgb(0 0 0 / 50%);
}
.nextButton:focus,
.bigDictionaryButton:focus {
  outline: none;
  background-color: rgb(0 0 0 / 10%);
  box-shadow: 0 0 0 3px rgb(23, 152, 182);
}

.nextButton span {
  transform: translateY(-4px) translateX(2px);
}

.bigDictionaryButton {
  margin-top: 20px;
  font-size: 36px;
}

@media screen and (max-width: 600px) {
  .nextButton {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: 50px;
  }
  .bigDictionaryButton {
    margin-left: 0;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    font-size: 20px;
  }
  .nextButtonContainer {
    position: sticky;
    bottom: 5px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.testInput {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  border-radius: 8px;
  height: 47px;
}
.testInput:focus {
  outline: none;
}

.testInput.fullWidth {
  width: 100%;
}

.inputContainer {
  position: relative;
}
.inputContainer.fullWidth {
  width: 100%;
}

.inputAnswer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.inputAnswer .voiceButton {
  box-shadow: none;
}

.inputCorrectAnswer {
  background: #238923;
  border-radius: 7px;
}

.inputIncorrectAnswer {
  background: #622f2f;
  border-radius: 7px;
}

.correctInputOutline {
  border-color: #238923;
}
.incorrectInputOutline {
  border-color: #cb3030;
}

.expandableTrigger {
  cursor: pointer;
  text-decoration: underline;
}

.authButton {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #00aeff;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.authButton:focus {
  outline: 4px solid greenyellow;
}

.authLink {
  color: white;
  text-decoration: underline;
}
.authInput {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  border-radius: 8px;
  height: 47px;
  width: 100%;
  margin-bottom: 10px;
}
.authLink:hover {
  color: white;
}

.sectionContainer {
}

.sectionTitle {
  text-align: center;
  background-color: #074d7e;
  color: white;
  padding: 5px 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.sectionBody {
  border: 1px solid #074d7e;
  padding: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bigSectionContainer > .sectionBody {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.bigSectionContainer > .sectionTitle {
  font-size: 20px;
}
