.courseContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.courseCard {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.lessonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 50px;
}

.lesson {
  width: 200px;
  height: 200px;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.lessonTable {
  border-collapse: collapse;
  margin-top: 20px;
}

.row:not(:last-of-type) {
  border-bottom: 1px solid #717171;
}

.row td {
  padding: 5px 10px;
}

.row .lessonCardType {
  padding-right: 30px;
}

.lessonCardValue {
}

.lessonCardTranslation {
}
.buttonsContainer {
  margin: 20px 0;
  gap: 20px;
  display: flex;
}

.buttonsContainer button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.viewCard {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  min-width: 400px;
  max-width: 100%;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
  .viewCard {
    width: 100%;
    min-width: unset;
  }
}

.contentTagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.contentTag {
  padding: 5px 10px;
  border-radius: 5px;
}

.voiceButton {
  display: inline-flex;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin: 0 5px;
  flex-shrink: 0;
}
.contentTag,
.voiceButton {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.contentTag-primary {
  background: rgb(23, 152, 182);
  box-shadow: 0 0 0 1px rgb(23, 152, 182);
}
.contentTag-secondary {
  box-shadow:
    0 0 0 1px rgb(23, 152, 182),
    inset 0 0 0 1px rgb(23, 152, 182);
}

.voiceButton:first-of-type {
  margin-left: 0;
}
.voiceButton:last-of-type {
  margin-right: 0;
}
.miniVoiceButton {
  background: none;
  width: 24px;
  height: 24px;
  font-size: 16px;
}

.withNextButton {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .withNextButton {
    flex-direction: column;
  }
}

.nextButton {
  margin-left: 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
}
.nextButton:hover {
  background-color: rgb(0 0 0 / 50%);
}
.nextButton:focus {
  outline: none;
  background-color: rgb(0 0 0 / 10%);
  box-shadow: 0 0 0 3px rgb(23, 152, 182);
}

.nextButton span {
  transform: translateY(-4px) translateX(2px);
}

@media screen and (max-width: 600px) {
  .nextButton {
    margin-left: 0;
    margin-top: 20px;
    width: 100%;
    height: 50px;
  }
}

.testInput {
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  border: 2px solid white;
  border-radius: 8px;
  height: 47px;
}
.testInput:focus {
  outline: none;
}

.testInput.fullWidth {
  width: 100%;
}

.inputContainer {
  position: relative;
}
.inputContainer.fullWidth {
  width: 100%;
}

.inputAnswer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.inputAnswer .voiceButton {
  box-shadow: none;
}

.inputCorrectAnswer {
  background: #238923;
  border-radius: 7px;
}

.inputIncorrectAnswer {
  background: #622f2f;
  border-radius: 7px;
}

.expandableTrigger {
  cursor: pointer;
  text-decoration: underline;
}
