.lessonTable {
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #2e2e2e;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 9px;
  border-radius: 10px;
}

.row:not(:last-of-type) {
  border-bottom: 1px solid rgb(0, 0, 0, 0.8);
}

.row td {
  padding: 10px 10px;
}

.row td:first-of-type {
  padding-left: 15px;
}
.row td:last-of-type {
  padding-right: 15px;
}
.row:first-of-type td {
  padding-top: 12px;
}
.row:last-of-type td {
  padding-bottom: 12px;
}

.row .lessonCardType {
  padding-right: 30px;
  opacity: 0.5;
}
